allrank==1.4.3
amrlib==0.8.0
bert_score==0.3.13
bitsandbytes==0.46.1
coreferee==1.4.1
datasets==3.4.1
evaluate==0.4.3
matplotlib==3.10.8
nltk==3.9.1
numpy==2.4.1
openai==2.16.0
pandas==3.0.0
penman==1.3.1
scikit_learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
spacy==3.8.11
summ_eval==0.892
summa==1.2.0
torch==2.6.0
tqdm==4.67.1
transformers==4.50.0